asgiref
attrs
black
bleach
certifi
cffi
charset-normalizer
click
codecov
commonmark
coverage
cryptography
distlib
Django
docutils
filelock
flake8
idna
importlib-metadata
iniconfig
jeepney
keyring
mccabe
mypy-extensions
packaging
pathspec
pkginfo
platformdirs
pluggy
py
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
pytest
pytest-cov
pytest-django
readme-renderer
requests
requests-toolbelt
rfc3986
rich
SecretStorage
six
sqlparse
toml
tomli
tox
tox-py
twine
urllib3
virtualenv
webencodings
zipp
